<h2>Edit <%=@animal.name %></h2>

<form method="POST" action="/animals/<%= @animal.id %>">
  <link rel="stylesheet" type="text/css" href="/styles/forms.css">

<div>
  <!-- Field for name -->
    <label for="name">Name:</label>
    <input type="text" name="name" id="name" value="<%= @animal.name %>"/>

  <br>
  <!-- Field for type -->
    <label for="type">Type:</label>
    <input type="text" name="type" id="type" value="<%= @animal.type %>"/>

  <br>
  <!-- Field for breed -->
    <label for="breed">Breed:</label>
    <input type="text" name="breed" id="breed" value="<%= @animal.breed %>"/>

  <br>
  <!-- Field for admission date -->
    <label for="admission_date">Admission Date:</label>
    <input type="text" name="admission_date" id="admission_date"value="<%= @animal.admission_date %>"/>

  <br>
  <!-- Field for in training -->
    <label for="training_complete">Training Complete?</label>
    <input type="checkbox" name="training_complete" id="training_complete"
    <%= "checked" if @animal.training_complete == "t" %>/>

  <br>
  <!-- Field for health check -->
    <label for="health_check_complete">Health Check Complete?</label>
    <input type="checkbox" name="health_check_complete" id="health_check_complete"
    <%= "checked" if @animal.health_check_complete == "t" %>/>

  <br>
  <!-- Field for ready for adoption -->
    <label for="ready_to_adopt">Ready for Adoption?</label>
    <input type="checkbox" name="ready_to_adopt" id="ready_to_adopt"
    <%= "checked" if @animal.ready_to_adopt == "t" %>/>

  <br>

    <label for="adopted">Adopted?</label>
    <input type="checkbox" name="adopted" id="adopted"
    <%= "checked" if @animal.adopted == "t" %>/>

  <br>

  <!-- placeholder field for adding a photo -->
    <label for="photo">Upload photo</label>
    <input type="text" name="photo" id="photo" value=""/>
  <br
  <div>
    <input type="submit" value="Submit"/>
  </div>

</div>
</form>
