<h2>Edit <%= @owner.nice_name %></h2>

<form method="POST" action="/owners/<%= @owner.id %>">
  <link rel="stylesheet" type="text/css" href="/styles/forms.css">

  <div>
  <!-- Field for first_name -->
      <label for="first_name">First Name:</label>
      <input type="text" name="first_name" id="first_name" value="<%= @owner.first_name %>"/>

    <br>
    <!-- Field for a last_name -->
      <label for="last_name">Last Name:</label>
      <input type="text" name="last_name" id="last_name" value="<%= @owner.last_name %>"/>

    <br>
    <!-- Field for address -->
      <label for="address">Address:</label>
      <input type="text" name="address" id="address" value="<%= @owner.address %>"/>

    <br>
    <!-- Field for email -->
      <label for="email_address">email address:</label>
      <input type="text" name="email_address" id="email_address" value="<%= @owner.email_address %>"/>

    <br>
    <!-- Field for animal preference - for now hard coded -->
      <label for="animal_preference">Animal Preference:</label>
      <select name="animal_preference" id="animal_preference">
        <option value="cat" <%="selected" if @owner.animal_preference== "cat"%>>cat</option>
        <option value="small dog"<%="selected" if @owner.animal_preference== "small dog"%>>small dog</option>
        <option value="large dog"<%="selected" if @owner.animal_preference== "large dog"%>>large dog</option>
        <option value="any dog"<%="selected" if @owner.animal_preference== "any dog"%>>any dog</option>
        <option value="cat or dog"<%="selected" if @owner.animal_preference== "cat or dogs"%>>cat or dog</option>
      </select>

    <div>
      <input type="submit" value="Submit"/>
    </div>

  </div/
</form>
